header .top-menu .material-icons {
    font-size: 5'0px;
}

header h1 {
    font-size: clamp(2.7rem, 7vw, 3.1rem);
    line-height: clamp(2.6rem, 10vw, 3.8rem);
}

header p {
    font-size: 1.2rem;
}

main p {
    margin-bottom: 20px;

    font-size: 1.2rem;
    line-height: 1.8rem;
}

.course .button button {
    padding: 8px;

    font-size: 1.2rem;
}

.courses .CTA-courses {
    padding: 10px;

    font-size: 1.4rem;
}

.invitation .bottom-image h1 {
    font-size: clamp(2.3rem, 8vw, 2.9rem);

}

.invitation .CTA-form {
    padding: 10px;

    font-size: 1.4rem;
}
