header {
    height: 70vh;
}

header .navigation li:nth-child(1) a {
    font-weight: bold;
}
header .navigation li:nth-child(1) a::after {
    height: 3px;

    background-color: white;

    transform: scaleX(1);
}

.courses-wrapper {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.courses-wrapper .course {
    position: relative;

    min-width: 300px;

    margin-right: 15px;

    transition: 0.3s;
}
.courses-wrapper .course:hover {
    box-shadow: 0px 4px 7px 5px rgba(0, 0, 0, 0.575);

    transform: translateY(-10px);
}

.courses-wrapper .course:last-child {
    margin-right: 0;
}

.courses > h2 {
    margin-top: 40px;
    margin-bottom: 20px;

    font-size: 2.5rem;
}

.invitation .bottom-image {
    height: 90vh;
}
