header {
    z-index: 1;

    height: auto;

    margin-bottom: 0;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.521);

    background: var(--secondary-clr) no-repeat scroll left / cover;

    text-align: left;
    color: white;
}

header h1 {
    margin-top: 50px;
}

.top-image {
    margin-bottom: 15px;
}

.top-image img{
    width: 100%;
}

section h2 {
    margin-bottom: 10px;

    font-size: 1.7rem;
    line-height: 2rem;
    font-weight: 600;
}

section.geral {
    margin-top: -30px;
}

section.values {
    background-color: var(--bg-color-alt);
    
    color: var(--font-color);
} 

section.inovation .project {
    width: 100%;

    margin: auto;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.425);

    background-color: var(--bg-color-alt);

    font-weight: 400;
}

section.inovation img {
    width: calc(100% + 30px);

    margin-bottom: 5px;
    margin-left: -15px;
    margin-top: -15px;
    border-radius: 15px 15px 0 0;
}

section .button {
    margin: auto;

    text-align: center;
}

section .button button {
    cursor: pointer;

    width: clamp(250px, 80%, 300px);

    padding: 5px;
    border-radius: 25px;
    border: none;

    background-color: var(--accent-clr2);

    color: white;
}
section .button button:hover {
    background-color: var(--accent-clr2-hover);
}
section .button button:active {
    background-color: var(--accent-clr2-active);
}

section hr {
    height: 2px;
    width: calc(100% + 20px);
    margin-left: -10px;

    border: none;
    margin-block: 20px;

    background-color: var(--font-color);
}
