@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Global variables*/
:root {
    --font: "Poppins";
    --font-heading: "Montserrat";

    --accent-clr1: #5A00BB;
    --accent-clr1-hover: #470094;
    --accent-clr1-active: #34006b;

    --accent-clr2: #371BF2;
    --accent-clr2-hover: #1800b8;
    --accent-clr2-active: #110081;

    --secondary-clr: #7155D9;
}

/* Light theme variables */
:root {
    --bg-color: rgb(238, 238, 238);
    --bg-color-alt: #C5C8D9;

    --font-color: rgb(24, 24, 24);
    --font-color-alt: white;
}

/* Dark theme variables */
.dark-theme {
    --bg-color: rgb(29, 29, 29);
    --bg-color-alt: rgb(14, 14, 14);

    --font-color: rgb(255, 255, 255);
    --font-color-alt: black;
}

* {
    box-sizing: border-box;

    padding: 0;
    margin: 0;

    font-family: var(--font);
    font-size: 1rem;
}

body {
    background-color: var(--bg-color);

    color: var(--font-color);
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr;

    grid-template-areas: 
        "header"
        "main"
        "footer"
    ;
}

h1, 
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-heading);
}

header {
    grid-area: header;

    height: 60vh;

    padding: 15px;
    margin-bottom: 30px;

    background: lightskyblue url("../images/hero-image.jpg") no-repeat scroll right / cover;

    color: var(--font-color-alt);
}

header .top-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: auto;

    margin: -15px;
    margin-bottom: 20px;

    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.747), transparent);
}

header .top-menu .menu-buttons {
    border: none;

    background-color: transparent;
}

header .top-menu .material-icons {
    position: relative;

    cursor: pointer;

    margin-inline: 10px;
    margin-top: 5px;
    padding: 3px;

    font-size: 35px;
    color: white;
}
header .top-menu .material-icons:active {
    color: black;
}

header .top-menu #logo {
    position: relative;
    z-index: 2;

    color: white;
}


header #toggle-menu {
    display: none;
}
header label[for=toggle-menu] {
    position: relative;
    z-index: 2;
}
header .navigation {
    z-index: 1;

    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    display: none;

    background-image: linear-gradient(to bottom, var(--accent-clr2), var(--accent-clr1));
}
header #toggle-menu:checked ~ .navigation {
    display: block;
}
body.menu-open {
    overflow: hidden;
}


header .navigation ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    margin: 20px;
    margin-top: 60px;

    list-style-type: none;
}

header .navigation ul li {
    margin-bottom: 15px;
}

header .navigation ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    letter-spacing: 0.05rem;
}

header h1 {
    margin-bottom: 7px;

    font-weight: 600;
    font-size: clamp(2.1rem, 7vw, 2.6rem);
    line-height: clamp(2.6rem, 10vw, 3.8rem);
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.548);
}

header p {
    font-size: 1rem;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.548);
}

main {
    grid-area: main;
}

main p {
    margin-bottom: 15px;

    font-size: 1.1rem;
    line-height: 1.7rem;
}

section {
    padding: 15px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;

    grid-area: footer;
    height: 40px;

    padding: 2px;

    background-color: var(--secondary-clr);

    line-height: 1;
}


footer small{
    text-align: center;
    color: var(--font-color-alt);
    font-size: 0.7rem;
}
