@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

/* Global variables*/
:root {
    --font: "Poppins";
    --font2: "Quicksand";

    --accent-clr1: #5A00BB;
    --accent-clr1-hover: #470094;
    --accent-cl1-active: #34006b;

    --accent-clr2: #371BF2;
    --accent-clr2-hover: #1800b8;
    --accent-clr2-active: #110081;

    --secondary-clr: #7155D9;
}

/* Light theme variables */
:root {
    --bg-color: white;
    --bg-color-alt: #C5C8D9;

    --font-color: rgb(24, 24, 24);
    --font-color-alt: white;
}

.dark-theme {
    --bg-color: rgb(24, 24, 24);

    --font-color: rgb(255, 255, 255);
    --font-color-alt: black;
}

* {
    box-sizing: border-box;

    padding: 0;
    margin: 0;

    font-family: var(--font);
    font-size: 1rem;
}

body {
    background-color: var(--bg-color);

    color: var(--font-color);
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr;

    grid-template-areas: 
        "header"
        "main"
        "footer"
    ;
}

header {
    grid-area: header;

    height: 60vh;

    padding: 15px;
    margin-bottom: 30px;

    background: lightskyblue url("../images/hero-image2.jpg") no-repeat scroll right / cover;

    color: var(--font-color-alt);
}

header .top-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: auto;

    margin: -15px;
    margin-bottom: 20px;

    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.747), transparent);
}

header .top-menu .material-icons {
    position: relative;

    cursor: pointer;

    margin-inline: 10px;
    margin-top: 5px;
    padding: 3px;

    font-size: 40px;
}
header .top-menu .material-icons::after {
    content: "";

    position: absolute;
    left: 0;
    right: 0;
    bottom: -5px;

    height: 3px;
    background-color: white;
    
    transform: scaleX(0);
    transition: transform 0.3s;
}
header .top-menu .material-icons:hover::after {
    transform: scaleX(1);
}
header .top-menu .material-icons:active::after {
    background-color: var(--font-color);
}
header .top-menu .material-icons:active {
    color: var(--font-color);
}

header .top-menu #logo {
    position: relative;
    z-index: 2;

    color: white;
}


header #toggle-menu {
    display: none;
}
header label[for=toggle-menu] {
    position: relative;
    z-index: 2;
}
header #toggle-menu:checked ~ label[for=toggle-menu] {
    margin-right: 17px;
}
header .navigation {
    z-index: 1;

    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    display: none;

    background-image: linear-gradient(to bottom, var(--accent-clr2), var(--accent-clr1));
}
header #toggle-menu:checked ~ .navigation {
    display: block;
}
body.menu-open {
    overflow: hidden;
}


header .navigation ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    margin: 20px;
    margin-top: 60px;

    list-style-type: none;
}

header .navigation ul li {
    margin-bottom: 15px;
}

header .navigation ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    letter-spacing: 0.05rem;
}

header h1 {
    margin-bottom: 7px;

    font-size: clamp(1.9rem, 8vw, 2.6rem);
    line-height: clamp(2rem, 10vw, 3.2rem);
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.548);
}

header p {
    font-size: 1rem;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.548);
}

main {
    grid-area: main;
}

main p {
    margin-bottom: 15px;
}

section {
    padding: 15px;
}

.information {
    margin-bottom: 30px;

    font-size: 1rem;
}

.courses {
    background-color: var(--bg-color-alt);
}

.courses h1 {
    margin-bottom: 20px;

    font-size: 1.8rem;
    line-height: 2rem;
}

.course {
    height: 450px;
    width: clamp(300px, 100%, 400px);

    border-radius: 15px;
    padding: 10px;
    margin: auto;
    margin-bottom: 15px;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.479);

    background-color: white;
}

.course .image {
    height: 55%;

    margin: -10px;
    border-radius: 15px 15px 0 0;
    margin-bottom: 10px;
}

.course.psicology .image{
    background: lightgoldenrodyellow url("../images/psicologia.jpg") no-repeat scroll center / cover;
}
.course.system-analist .image{
    background: lightgoldenrodyellow url("../images/analista-de-sistemas2.jpg") no-repeat scroll center / cover;
}
.course.interior-design .image{
    background: lightgoldenrodyellow url("../images/design-de-interiorres.jpg") no-repeat scroll center / cover;
}

.course h2 {
    margin-bottom: 10px;

    font-size: 1.3rem;
}

.course p {
    margin-bottom: 10px;
}

.course .button {
    text-align: center;
}

.course .button button {
    width: 75%;

    cursor: pointer;

    padding: 5px;
    border: none;
    border-radius: 25px;

    background-color: var(--accent-clr2);

    color: var(--font-color-alt);
}

.course .button button:hover {
    background-color: var(--accent-clr2-hover);
}
.courses .button button:active {
    background-color: var(--accent-clr2-active);
}

.courses > h2 {
    margin-top: 30px;
    margin-bottom: 15px;

    font-size: 1.6rem;
    text-align: center;
}

.courses .CTA-courses {
    width: clamp(250px, 80%, 350px);

    cursor: pointer;

    margin-inline: calc(
        (100% - clamp(250px, 80%, 350px)) / 2
    );
    margin-bottom: 30px;
    border: none;
    border-radius: 25px;
    padding: 7px;

    background-color: var(--accent-clr1);

    color: white;
}

.courses .CTA-courses:hover {
    background-color: var(--accent-clr1-hover);
}
.courses .CTA-courses:active {
    background-color: var(--accent-cl1-active);
}

.invitation .bottom-image {
    height: 60vh;

    margin: -15px;
    margin-bottom: 15px;

    background: lightgoldenrodyellow url("../images/transformacao2.jpg") no-repeat scroll center / cover;
}

.invitation .bottom-image h1 {
    padding-top: 15px;

    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.61), transparent);

    font-size: clamp(1.9rem, 8vw, 2.6rem);
    color: white;
    text-align: center;
    text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.61);
}

.invitation .CTA-form {
    width: clamp(250px, 80%, 350px);

    cursor: pointer;

    margin-inline: calc(
        (100% - clamp(250px, 80%, 350px)) / 2
    );
    margin-top: 15px;
    border: none;
    border-radius: 25px;
    padding: 7px;

    background-color: var(--accent-clr1);

    color: white;
}

.invitation .CTA-form:hover {
    background-color: var(--accent-clr1-hover);
}
.invitation .CTA-form:active {
    background-color: var(--accent-cl1-active);
}

footer {
    grid-area: footer;

    background-color: var(--secondary-clr);

    text-align: center;
}

footer small {
    padding: 8px;

    font-size: 0.7rem;
    color: var(--font-color-alt);
}
