@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

/* Global variables*/
:root {
    --font: "Poppins";
    --font2: "Quicksand";

    --accent-clr1: #5A00BB;
    --accent-clr2: #371BF2;

    --secondary-clr: #7155D9;
}

/* Light theme variables */
:root {
    --bg-color: white;
    --bg-color-alt: #C5C8D9;

    --font-color: rgb(24, 24, 24);
    --font-color-alt: white;
}

.dark-theme {
    --bg-color: rgb(24, 24, 24);

    --font-color: rgb(255, 255, 255);
    --font-color-alt: black;
}

* {
    box-sizing: border-box;

    padding: 0;
    margin: 0;

    font-family: var(--font);
    font-size: 1rem;
}

body {
    background-color: var(--bg-color);

    color: var(--font-color);
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr;

    grid-template-areas: 
        "header"
        "main"
        "footer"
    ;
}

header {
    grid-area: header;

    height: 60vh;

    padding: 15px;
    margin-bottom: 30px;

    background: lightskyblue url("../images/hero-image2.jpg") no-repeat scroll right / cover;

    color: var(--font-color-alt);
}

header .navigation{
    display: flex;
    justify-content: space-between;

    margin: -15px;
    margin-bottom: 20px;

    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.747), transparent);
}

header .navigation .material-icons {
    margin-inline: 10px;
    margin-top: 5px;

    font-size: 40px;
}

header h1 {
    margin-bottom: 7px;

    font-size: 1.8rem;
    line-height: 2.3rem;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.548);
}

header p {
    font-size: 1rem;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.548);
}

main {
    grid-area: main;
}

main p {
    margin-bottom: 15px;
}

section {
    padding: 15px;
}

.information {
    margin-bottom: 30px;

    font-size: 1rem;
}

.courses {
    background-color: var(--bg-color-alt);
}

.courses h1 {
    margin-bottom: 15px;

    font-size: 1.8rem;
    line-height: 2rem;
}

.course {
    height: 450px;
    width: clamp(300px, 100%, 400px);

    border-radius: 15px;
    padding: 10px;
    margin: auto;
    margin-bottom: 15px;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.479);

    background-color: white;
}

.course .image {
    height: 55%;

    margin: -10px;
    border-radius: 15px 15px 0 0;
    margin-bottom: 10px;
}

.course.psicology .image{
    background: lightgoldenrodyellow url("../images/psicologia.jpg") no-repeat scroll center / cover;
}
.course.system-analist .image{
    background: lightgoldenrodyellow url("../images/analista-de-sistemas2.jpg") no-repeat scroll center / cover;
}
.course.interior-design .image{
    background: lightgoldenrodyellow url("../images/design-de-interiorres.jpg") no-repeat scroll center / cover;
}

.course h2 {
    margin-bottom: 10px;

    font-size: 1.3rem;
}

.course p {
    margin-bottom: 10px;
}

.course .button {
    text-align: center;
}

.course .button button {
    width: 75%;

    padding: 5px;
    border: none;
    border-radius: 25px;

    background-color: var(--accent-clr2);

    color: var(--font-color-alt);
}

.courses > h2 {
    margin-top: 30px;
    margin-bottom: 15px;

    font-size: 1.6rem;
    text-align: center;
}

.courses .CTA-courses {
    width: clamp(250px, 80%, 350px);

    margin-inline: calc(
        (100% - clamp(250px, 80%, 350px)) / 2
    );
    margin-bottom: 30px;
    border: none;
    border-radius: 25px;
    padding: 7px;

    background-color: var(--accent-clr1);

    color: white;
}

.invitation .bottom-image {
    height: 60vh;

    margin: -15px;
    margin-bottom: 15px;

    background: lightgoldenrodyellow url("../images/transformacao2.jpg") no-repeat scroll center / cover;
}

.invitation .bottom-image h1 {
    padding-top: 15px;

    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.61), transparent);

    font-size: clamp(1.9rem, 9vw, 2.6rem);
    color: white;
    text-align: center;
    text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.61);
}

.invitation .CTA-form {
    width: clamp(250px, 80%, 350px);

    margin-inline: calc(
        (100% - clamp(250px, 80%, 350px)) / 2
    );
    margin-top: 15px;
    border: none;
    border-radius: 25px;
    padding: 7px;

    background-color: var(--accent-clr1);

    color: white;
}

footer {
    grid-area: footer;

    background-color: var(--secondary-clr);

    text-align: center;
}

footer small {
    padding: 8px;

    font-size: 0.7rem;
    color: var(--font-color-alt);
}
